* {
    padding: 0;
    margin: 0;
}

body {
    background: hsl(185, 75%, 39%);
    font-family: "Kumbh Sans", sans-serif;
    overflow: hidden;
}

.ball1 {
    position: absolute;
    top: -50%;
    left: -20%;
    z-index: -2;
}
  
.ball2 {
    position: absolute;
    bottom: -50%;
    right: -20%;
    z-index: -2;
}

.container div:nth-child(2) img:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -130%);
    border-radius: 9px 9px 0 0;
}

.container div:nth-child(2) img:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 50%;
    border: 7px solid white;
}

.card {
    width: 350px;
    height: 400px;
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: -1;
    border-radius: 0 0 9px 9px;
    box-sizing: border-box;
}

.line {
    width: 100%;
    height: 0.5px;
    background-color: black;
    position: relative;
    top: 230px;   
    z-index: 2;
}

.stats ul {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: -350px;
    list-style-type: none;
    font-weight: 700;
    margin-bottom: 1px;
}

.stats h3 {
    position: relative;
    left: 50%;
    top: 140px;
    transform: translate(-60px);
}

.stats h3 span {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

.stats p {
    position: relative;
    left: 50%;
    top: 150px;
    transform: translate(-27px);
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}


.flw {

    left: -30%;
    display: block;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    letter-spacing: 1.5;
    position: static;
  }

.lks {

    left: -3%;
    display: block;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    letter-spacing: 1.5;
}

.phts {
    left: -3%;
    display: block;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    letter-spacing: 1.5;

}

.stats ul li:nth-child(1) {
    text-align: center;
}

.stats ul li:nth-child(2) {
    text-align: center;
}
.stats ul li:nth-child(3) {
    text-align: center;
}

.stats {
    position: relative;
    bottom: 15px;
}
