* {
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
}

.container {
    width: 235px;
    height: 355px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    text-align: center;
}

.container img {
    width: 210px;
    border-radius: inherit;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -79%);
}

.text1 {
    display: inline;
    font-size: medium;
    position: relative;
    top: 7%;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    background-color: white;

}   


.text2 {
    font-family: 'Outfit', sans-serif;
    font-size: x-small;
    background-color: white;
    position: relative;
    top: 11%;
    text-align: center;
    word-wrap: break-word;
    font-weight: 400;
}